.centered {
	margin: 0 auto;
	width: 500px;
}

hr {
  margin: 10px 0;
}

div.gooditem button.btndel {
	float: right;
	display: none;
}

div.gooditem:hover button.btndel {
	display: block;
}

input {
    margin-top: 3px;
    margin-bottom: 3px;
}
